Workflow.json
{
  "name": "Reading PDFs with AI (sanitizado)",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://example.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": {
          "model": "llama3",
          "prompt": "⚙️ Instruções para o modelo:\n\nVocê é um assistente especializado em revisão documental. Responda sempre em português.\n\nAnalise cuidadosamente o texto fornecido e produza uma resposta clara e objetiva adequada a um revisor interno.\n\nSua resposta deve conter obrigatoriamente:\n1️⃣ Um breve resumo do conteúdo do texto, destacando os principais achados, conclusões ou fatos relevantes.\n2️⃣ Uma indicação exata de onde localizar essa informação no material (ex.: nome do arquivo, seção, página, parágrafo, ID, ou outra referência disponível).\n3️⃣ Caso o texto não contenha conteúdo relevante, informe isso claramente.\n\nUse linguagem profissional, simples e direta, com foco técnico.\n\nTarefa:\nResuma o texto abaixo e indique claramente onde essa informação pode ser encontrada nos documentos fornecidos.\n\nTexto a analisar:\n[Documento interno — título removido]\n\nPergunta ou comentário do revisor: {{$('Receive Chat Message').item.json.chatInput}}\n\nBase a ser analisada: {{$json.text}}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        144
      ],
      "id": "2c425af7-d48e-4696-83c0-2cfe37c18cc6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "content": "## Generate AI Response\n**Handles the incoming chat message, locates and extracts the relevant document, and sends it to the AI model for analysis.**",
        "height": 320,
        "width": 912,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -304,
        32
      ],
      "id": "1af34b3d-13c4-47ed-8131-ad1b23590b23",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Deliver AI Response\n**Parses the JSON output returned by the AI and formats a clean response for the user chat interface.**",
        "height": 320,
        "width": 752,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        624,
        32
      ],
      "id": "907e7280-ae4a-495a-9a64-8bdc2f7a35f5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "// O serviço pode retornar várias linhas JSON, vamos juntar e extrair só o texto da resposta.\nconst raw = $json[\"data\"];\n\n// Divide por linha e tenta converter cada uma\nconst lines = raw.split(\"\\n\").filter(line => line.trim() !== \"\");\nlet response = \"\";\n\nfor (const line of lines) {\n  try {\n    const obj = JSON.parse(line);\n    if (obj.response) response += obj.response;\n  } catch (e) {\n    // ignora linhas inválidas\n  }\n}\n\nreturn [{ text: response.trim() }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        144
      ],
      "id": "7c30877b-c5e4-4c5b-8878-52b0a787139a",
      "name": "JSON → Text"
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        144
      ],
      "id": "627db057-ea2b-441c-a31c-06c83d8311a5",
      "name": "Receive Chat Message",
      "webhookId": "<REMOVIDO_WEBHOOK_ID>"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "mimeType='application/pdf' and '<REMOVIDO_PARENT_ID>' in parents",
        "returnAll": true,
        "filter": {},
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -32,
        144
      ],
      "id": "7114acc3-45c7-476e-9540-890022ecf3a1",
      "name": "Search Related Document",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "<REMOVIDO_CREDENCIAL>",
          "name": "Google Drive account (sanitizado)"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$json[\"id\"]}}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        144
      ],
      "id": "4c0348a6-75f6-4f7a-bbbd-53ee0d027184",
      "name": "Download Document",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "<REMOVIDO_CREDENCIAL>",
          "name": "Google Drive account (sanitizado)"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        432,
        144
      ],
      "id": "384870df-f62a-4e07-b179-b4ae7b947279",
      "name": "Send Text to AI Model (LLaMA3)"
    },
    {
      "parameters": {
        "message": "={{ $json[\"text\"] }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        1168,
        144
      ],
      "id": "be5ed700-e1b3-4fc2-ba84-80a951c5fcdf",
      "name": "Send Response to User"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "JSON → Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON → Text": {
      "main": [
        [
          {
            "node": "Send Response to User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Chat Message": {
      "main": [
        [
          {
            "node": "Search Related Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Related Document": {
      "main": [
        [
          {
            "node": "Download Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Document": {
      "main": [
        [
          {
            "node": "Send Text to AI Model (LLaMA3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Text to AI Model (LLaMA3)": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "36b9afef-b8b1-48d3-a942-7a702a301e4a",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "X3PFZyY5V9tenghj",
  "tags": []
}